.sideNav {
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  border-right: 1px solid #343434;
  overflow-y: auto;
  padding-left: 20px;
  padding-bottom: 60px;
  position: relative;

  h1 {
    font-size: 34px;
    color: #89c606;
  }

  .groupTitle {
    margin: 0;
  }

  ul {
    margin: 5px 0 50px 0;
    list-style: none;
    padding-left: 20px;
  }

  .graph {
    display: flex;
    align-items: center;
    position: relative;

    img {
      margin-right: 10px;
    }

    .link {
      height: 100%;
      width: 100%;
      color: white;

      &:hover {
        background-color: #262626;
      }
    }
  }

  .userArea {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid #343434;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .link {
    text-decoration: none;
  }
}
