.main {

  .taskArea {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    .board {
      background-color: #262626;
      width: 272px;
      min-height: 100px;
      border-radius: 5px;
    }
  }

}
